@charset "UTF-8";

body {
  background-color: #f5f5f5;
  white-space: nowrap;  /*画面幅が小さくなっても均等に表示*/
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

h1 {
  text-align: center;
  font-weight: 800;
} 

.login-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.col-6 {
  margin: 50px;
}
.btn-login
{
  width: 100%;
}